<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Länkar till static style.css, för att ändra tillbaka till "vanliga" är det bara att ha href ="/static/style.css"-->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>FHL</title>
    <!--Browser icon-->
    <link rel="icon" href="/static/FHL.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
</head>
<body>
    <nav>
        <div class="left_nav">
            <div id="log">
                <a href="/">
                    <!--Ändrat från img src="FHL.png" till "{{url_for('static', filename = 'FHL.png')}}" för att fungera med flask-->
                    <img src="{{url_for('static', filename = 'FHL.png')}}" alt="Logga" href="index.html">
                </a>
            </div>
            <div id="menu">
                <div class="dropdown">
                    <button class="dropbtn" onclick="dropFunction_players()">Hockeyspelare</button>
                
                    <div class="dropdown_content" id="hockey_players">
                        <a href="/top-spelare">Statistik över spelare</a>
                        <a href="/köp-spelare">Köpa spelare</a>
                        <a href="/mina-spelare">Mina spelare</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn" onclick="dropFunction_matches()">Matcher</button>
                
                    <div class="dropdown_content" id="matches">
                        <a href="/match">Lägg Match</a>
                        <a href="/match-historik">Min Matchhistorik</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn" onclick="dropFunction_posts()">Inlägg</button>
                
                    <div class="dropdown_content" id="posts">
                        <a href="/forum">Forum</a>
                        <a href="/inlägg">Skapa Inlägg</a>
                        <a href="/forum/test">Mina Inlägg</a>
                    </div>
                </div>
                <div id="help">
                    <button class="help">Hjälp 
                        <a href="/guide"></a>
                        <div id="questionmark">
                            <p> ?</p>
                        </div>
                    </button> 
                </div>
            </div>
        </div>
       
        <div id="nav_right">
            <div class="points">
               <p>{{points}} P</p>  <!--Från databasen skrivs användarens poäng ut-->
            </div>
            <div class="log_out">

                <a href="/logout">Logga ut</a>
            </div>
        </div>
    </nav>

    <div id="buy_players_body">
        <div class="FHLcategory">
            <form>
                <input id="name-field" type="text" name="message">
    
                <input id="search_button" type="submit" value="SÖK">
            </form>
            <div>
                <label for="dog-names">Filtrera:</label>
                <select name="dog-names" id="dog-names">
                <option value="rigatoni">Namn</option>
                <option value="dave">Lag</option>
                <option value="pumpernickel">Rating</option>
                <option value="reeses">Poäng</option>
            </select>  
            </div>
            
                          
        </div>

        <h2>Köp spelare</h2>

        <div class="one_time">
            {%for player in players%} 

                <div class="card">
                    <div class="card__inner">
                        <div class="card__face card__face--front">                              
                            <!--Player statistics-->
                            <img src="{{url_for('static', filename = 'FHL.png')}}">
                            <!--Hämta namn från databas-->                                                                  
                            <h3>{{player.f_name}} {{player.l_name}}</h3>                                  
                            <!--Hämta poäng från databas ("Poäng: " + database value)-->
                            <div class="costs">
                                <h5>Pris: {{player.price}}</h5>
                                <form method="post">
                                    <input type="hidden" id="player_id" name="id" value={{player.id}}>

                                    <input type = "submit" class="cost_button" value="Köp">
                                </form>
                                
                            </div>
                        </div>

                        <div class="card__face card__face--back">
                            <div class="card__content">
                                <div class="card__header">
                                    <!--Spelarstatistik från databasen-->
                                    <!--Hämta namn-->
                                    <h4>{{player.f_name}} {{player.l_name}}</h4>
                                    <!--Hämta lag-->
                                    <p>Lag: {{player.team}}</p>
                                    <!--Hämta position-->
                                    <p>Position: {{player.position}}</p>
                                    <!--Hämta antal mål-->
                                    <p>Mål: {{player.goal}}</p>
                                    <!--Hämta antal assit-->
                                    <p>Assist: {{player.assists}}</p>
                                    <!--Hämta antal utvisningsminuter-->
                                    <p>Utvisningsminuter: {{player.penalty_time}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                          
            {%endfor%}


        
    </div>

    <footer>
        <p>Copyright© by FHL</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <!-- gamla javascript länken <script src="script.js"></script> -->
    <script src="{{url_for('static', filename = 'script.js')}}"></script>
</body>

</html>