<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>FHL köp spelare</title>
    <link rel="icon" href="/static/FHL.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
</head>
<body>
    <nav>
        <div class="left_nav">
            <div id="log">
                <a href="/">
                    <img src="{{url_for('static', filename = 'FHL.png')}}" alt="Logga" href="index.html">
                </a>
            </div>
            <div id="menu">
                <div id="mobile_menu">
                    <button class="dropbtn mobile" onclick="dropFunction_mobile()">
                        <div></div>
                        <div></div>
                        <div></div>
                    </button>
                    <div class="dropdown_mobile" id="mobile_content">
                        <div class="dropdown">
                            <button class="dropbtn" onclick="dropFunction_players()">Hockeyspelare</button>
                        
                            <div class="dropdown_content" id="hockey_players">
                                <a href="/top-spelare">Statistik över spelare</a>
                                <a href="/köp-spelare">Köpa spelare</a>
                                <a href="/mina-spelare">Mina spelare</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn" onclick="dropFunction_matches()">Matcher</button>
                        
                            <div class="dropdown_content" id="matches">
                                <a href="/match">Lägg Match</a>
                                <a href="/spela-match">Spela Match</a>
                                <a href="/match-historik">Min Matchhistorik</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn" onclick="dropFunction_posts()">Inlägg</button>
                        
                            <div class="dropdown_content" id="posts">
                                <a href="/forum">Forum</a>
                                <a href="/inlägg">Skapa Inlägg</a>
                                <a href="/forum/mina/inlägg">Mina Inlägg</a>
                            </div>
                        </div>
                        <div id="help">
                            <button class="help">Hjälp 
                                <a href="/guide"></a>
                                <div id="questionmark">
                                    <p> ?</p>
                                </div>
                            </button> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <div id="nav_right">
            <div class="points">
               <p>{{points}} P</p>  <!--Från databasen skrivs användarens poäng ut-->
            </div>
            <div class="log_out">

                <a href="/logout">Logga ut</a>
            </div>
        </div>
    </nav>

    <div id="buy_players_body">
        <div class="FHLcategory">
            <div id="search_div">
                <form action="/search" method="post">
                    <div>
                        <label for="search">Sök efter hockeyspelare med helt namn:</label>
                    </div>
                    <input type="text" id="search" name="search">
                    <input type="submit" value="Sök" class="submit_button">
                </form>  
            </div>               
        </div>

        <h2>Köp spelare</h2>
        {% for person in search_result %}
        <div id="search_player">
            <div class="card">
                <div class="card__inner">
                    <div class="card__face card__face--front">
                        
                        <!--Player statistics-->
                        <img src="{{person[6]}}">
                        <!--Hämta namn från databas-->
                        <h4>{{person[9]}}</h4>                                  
                            <!--Hämta poäng från databas ("Poäng: " + database value)-->
                            <div class="costs">
                                <h5>Pris: {{person[7]}}</h5>
                                <form action="/buy" method="post">
                                    <input type="hidden" id="player_id" name="id" value={{person[0]}}>

                                    <input type = "submit" class="cost_button" value="Köp">
                                </form>
                                
                            </div>
                    </div>
                    {% if person[2] == "Goalie" %}
                    <div class="card__face card__face--back">
                        <div class="card__content">
                            <div class="card__header">
                                <!--Spelarstatistik från databasen-->
                                <!--Hämta namn-->
                                <h4>{{person[9]}}</h4>
                                <!--Hämta lag-->
                                <p>Lag:</p>
                                <p class="line"> {{person[1]}}</p>
                                <!--Hämta position-->
                                <p>Position:</p>
                                <p class="line"> {{person[2]}}</p>
                                <!--Hämta antal räddningar-->
                                <p>Räddningar:</p>
                                <p class="line"> {{person[8]}}</p>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="card__face card__face--back">
                        <div class="card__content">
                            <div class="card__header">
                                <!--Spelarstatistik från databasen-->
                                <!--Hämta namn-->
                                <h4>{{person[9]}}</h4>
                                <!--Hämta lag-->
                                <p>Lag:</p>
                                <p class="line"> {{person[1]}}</p>
                                <!--Hämta position-->
                                <p>Position:</p>
                                <p class="line"> {{person[2]}}</p>
                                <!--Hämta antal mål-->
                                <p>Mål:</p>
                                <p class="line">{{person[3]}}</p>
                                <!--Hämta antal assit-->
                                <p>Assist:</p>
                                <p class="line">{{person[5]}}</p>
                                <!--Hämta antal utvisningsminuter-->
                                <p>Utvisningsminuter:</p>
                                <p class="line">{{person[4]}}</p>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>

        </div>
        {% endfor %}

        <h3>Center</h3>

        <div class="one_time">
            {%for player in centers%} 

                <div class="card">
                    <div class="card__inner">
                        <div class="card__face card__face--front">                              
                            <!--Player statistics-->
                            <img src="{{player.image}}">
                            <!--Hämta namn från databas-->                                                                  
                            <h4>{{player.name}}</h4>                                  
                            <!--Hämta poäng från databas ("Poäng: " + database value)-->
                            <div class="costs">



                                <h5>Pris: {{player.price}}</h5>

                                <form method="post">
                                    <input type="hidden" id="player_id" name="id" value="{{player.id}}">
                                    <input type="hidden" id="player_price" name="price" value="{{player.price}}">


                                    <input type = "submit" class="cost_button" value="Köp">
                                    
                                </form>
                                
                            </div>
                        </div>

                        <div class="card__face card__face--back">
                            <div class="card__content">
                                <div class="card__header">
                                    <!--Spelarstatistik från databasen-->
                                    <!--Hämta namn-->
                                    <h4>{{player.name}}</h4>
                                    <!--Hämta lag-->
                                    <p>Lag:</p>
                                    <p class="line"> {{player.team}}</p>
                                    <!--Hämta position-->
                                    <p>Position:</p>
                                    <p class="line"> {{player.position}}</p>
                                    <!--Hämta antal mål-->
                                    <p>Mål:</p>
                                    <p class="line">{{player.goal}}</p>
                                    <!--Hämta antal assit-->
                                    <p>Assist:</p>
                                    <p class="line">{{player.assists}}</p>
                                    <!--Hämta antal utvisningsminuter-->
                                    <p>Utvisningsminuter:</p>
                                    <p class="line">{{player.penalty_time}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                          
            {%endfor%}

        </div>
            
        <h3>Höger forward</h3>

        <div class="one_time">
            {%for player in right_forwards%} 

                <div class="card">
                    <div class="card__inner">
                        <div class="card__face card__face--front">                              
                            <!--Player statistics-->
                            <img src="{{player.image}}">
                            <!--Hämta namn från databas-->                                                                  
                            <h4>{{player.name}}</h4>                                  
                            <!--Hämta poäng från databas ("Poäng: " + database value)-->
                            <div class="costs">
                                <h5>Pris: {{player.price}}</h5>
                                <form method="post">
                                    <input type="hidden" id="player_id" name="id" value={{player.id}}>

                                    <input type = "submit" class="cost_button" value="Köp">
                                </form>
                                
                            </div>
                        </div>

                        <div class="card__face card__face--back">
                            <div class="card__content">
                                <div class="card__header">
                                    <!--Spelarstatistik från databasen-->
                                    <!--Hämta namn-->
                                    <h4>{{player.name}}</h4>
                                    <!--Hämta lag-->
                                    <p>Lag:</p>
                                    <p class="line"> {{player.team}}</p>
                                    <!--Hämta position-->
                                    <p>Position:</p>
                                    <p class="line"> {{player.position}}</p>
                                    <!--Hämta antal mål-->
                                    <p>Mål:</p>
                                    <p class="line">{{player.goal}}</p>
                                    <!--Hämta antal assit-->
                                    <p>Assist:</p>
                                    <p class="line">{{player.assists}}</p>
                                    <!--Hämta antal utvisningsminuter-->
                                    <p>Utvisningsminuter:</p>
                                    <p class="line">{{player.penalty_time}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                          
            {%endfor%}
        </div>

        <h3>Vänster forward</h3>

        <div class="one_time">
            {%for player in left_forwards%} 

                <div class="card">
                    <div class="card__inner">
                        <div class="card__face card__face--front">                              
                            <!--Player statistics-->
                            <img src="{{player.image}}">
                            <!--Hämta namn från databas-->                                                                  
                            <h4>{{player.name}}</h4>                                  
                            <!--Hämta poäng från databas ("Poäng: " + database value)-->
                            <div class="costs">
                                <h5>Pris: {{player.price}}</h5>
                                <form method="post">
                                    <input type="hidden" id="player_id" name="id" value={{player.id}}>

                                    <input type = "submit" class="cost_button" value="Köp">
                                </form>
                                
                            </div>
                        </div>

                        <div class="card__face card__face--back">
                            <div class="card__content">
                                <div class="card__header">
                                    <!--Spelarstatistik från databasen-->
                                    <!--Hämta namn-->
                                    <h4>{{player.name}}</h4>
                                    <!--Hämta lag-->
                                    <p>Lag:</p>
                                    <p class="line"> {{player.team}}</p>
                                    <!--Hämta position-->
                                    <p>Position:</p>
                                    <p class="line"> {{player.position}}</p>
                                    <!--Hämta antal mål-->
                                    <p>Mål:</p>
                                    <p class="line">{{player.goal}}</p>
                                    <!--Hämta antal assit-->
                                    <p>Assist:</p>
                                    <p class="line">{{player.assists}}</p>
                                    <!--Hämta antal utvisningsminuter-->
                                    <p>Utvisningsminuter:</p>
                                    <p class="line">{{player.penalty_time}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                          
            {%endfor%}
        </div>

        <h3>Backar</h3>

        <div class="one_time">
            {%for player in defense%} 

                <div class="card">
                    <div class="card__inner">
                        <div class="card__face card__face--front">                              
                            <!--Player statistics-->
                            <img src="{{player.image}}">
                            <!--Hämta namn från databas-->                                                                  
                            <h4>{{player.name}}</h4>                                  
                            <!--Hämta poäng från databas ("Poäng: " + database value)-->
                            <div class="costs">
                                <h5>Pris: {{player.price}}</h5>
                                <form method="post">
                                    <input type="hidden" id="player_id" name="id" value={{player.id}}>

                                    <input type = "submit" class="cost_button" value="Köp">
                                </form>
                                
                            </div>
                        </div>

                        <div class="card__face card__face--back">
                            <div class="card__content">
                                <div class="card__header">
                                    <!--Spelarstatistik från databasen-->
                                    <!--Hämta namn-->
                                    <h4>{{player.name}}</h4>
                                    <!--Hämta lag-->
                                    <p>Lag:</p>
                                    <p class="line">{{player.team}}</p>
                                    <!--Hämta position-->
                                    <p>Position:</p>
                                    <p class="line">{{player.position}}</p>
                                    <!--Hämta antal mål-->
                                    <p>Mål:</p>
                                    <p class="line">{{player.goal}}</p>
                                    <!--Hämta antal assit-->
                                    <p>Assist:</p>
                                    <p class="line"> {{player.assists}}</p>
                                    <!--Hämta antal utvisningsminuter-->
                                    <p>Utvisningsminuter:</p>
                                    <p class="line"> {{player.penalty_time}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                          
            {%endfor%}
        </div>

        <h3>Målvakter</h3>

        <div class="one_time">
            {%for player in goalies%} 

                <div class="card">
                    <div class="card__inner">
                        <div class="card__face card__face--front">                              
                            <!--Player statistics-->
                            <img src="{{player.image}}">
                            <!--Hämta namn från databas-->                                                                  
                            <h4>{{player.name}}</h4>                                  
                            <!--Hämta poäng från databas ("Poäng: " + database value)-->
                            <div class="costs">
                                <h5>Pris: {{player.price}}</h5>
                                <form method="post">
                                    <input type="hidden" id="player_id" name="id" value={{player.id}}>

                                    <input type = "submit" class="cost_button" value="Köp">
                                </form>
                                
                            </div>
                        </div>

                        <div class="card__face card__face--back">
                            <div class="card__content">
                                <div class="card__header">
                                    <!--Spelarstatistik från databasen-->
                                    <!--Hämta namn-->
                                    <h4>{{player.name}}</h4>
                                    <!--Hämta lag-->
                                    <p>Lag:</p>
                                    <p class="line"> {{player.team}}</p>
                                    <!--Hämta position-->
                                    <p>Position:</p>
                                    <p class="line"> {{player.position}}</p>
                                    <!--Hämta antal räddningar-->
                                    <p>Räddningar:</p>
                                    <p class="line"> {{player.saves}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                          
            {%endfor%}
        </div>

    </div>
</div>
<footer>
    <div id="log">
        <a href="/">
            <img src="{{url_for('static', filename = 'FHL.png')}}" alt="Logga" >
        </a>
    </div>
    <p>Copyright© by FHL</p>
</footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="{{url_for('static', filename = 'script.js')}}"></script>
</body>

</html>