<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Länkar till static style.css, för att ändra tillbaka till "vanliga" är det bara att ha href ="/static/style.css"-->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>FHL match</title>
    <!--Browser icon-->
    <link rel="icon" href="/static/FHL.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
</head>
<body>
    <nav>
        <div class="left_nav">
            <div id="log">
                <a href="/">
                    <!--Ändrat från img src="FHL.png" till "{{url_for('static', filename = 'FHL.png')}}" för att fungera med flask-->
                    <img src="{{url_for('static', filename = 'FHL.png')}}" alt="Logga" href="index.html">
                </a>
            </div>
            <div id="menu">
                <div id="mobile_menu">
                    <button class="dropbtn mobile" onclick="dropFunction_mobile()">
                        <div></div>
                        <div></div>
                        <div></div>
                    </button>
                    <div class="dropdown_mobile" id="mobile_content">
                        <div class="dropdown">
                            <button class="dropbtn" onclick="dropFunction_players()">Hockeyspelare</button>
                        
                            <div class="dropdown_content" id="hockey_players">
                                <a href="/top-spelare">Statistik över spelare</a>
                                <a href="/köp-spelare">Köpa spelare</a>
                                <a href="/mina-spelare">Mina spelare</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn" onclick="dropFunction_matches()">Matcher</button>
                        
                            <div class="dropdown_content" id="matches">
                                <a href="/match">Lägg Match</a>
                                <a href="/match-historik">Min Matchhistorik</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn" onclick="dropFunction_posts()">Inlägg</button>
                        
                            <div class="dropdown_content" id="posts">
                                <a href="/forum">Forum</a>
                                <a href="/inlägg">Skapa Inlägg</a>
                                <a href="/forum/mina/inlägg">Mina Inlägg</a>
                            </div>
                        </div>
                        <div id="help">
                            <button class="help">Hjälp 
                                <a href="/guide"></a>
                                <div id="questionmark">
                                    <p> ?</p>
                                </div>
                            </button> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <div id="nav_right">
            <div class="points">
               <p>{{points}} P</p>  <!--Från databasen skrivs användarens poäng ut-->
            </div>
            <div class="log_out">

                <a href="/logout">Logga ut</a>
            </div>
        </div>
    </nav>

    <main>
        <h2>Min match</h2>
        <form id="choose_players" method="post">

        <section id="players">
                <div id="forwards">
                    
                    <div data-modal-target="#left-forward" class="left_forward">
                        <p>Vänster forward</p>
                    </div>

                            <div class="modal" id="left-forward">
                                <div class="modal-header">
                                <div class="title">Vänster anfallare</div>
                                <button data-close-button class="close-button">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div id="left_forward">
                                        <p>Vänster forward</p>
                                        <select name="left_forward" id="left_forward_option" >
                                            {% for player in left_wing %} 
                                            <option value="{{player.id}}, {{player.price}}">{{player.name}}</option>                                
                                            {% endfor %}                                            
                                        </select>                                        
                                    </div>
                                </div>
                            </div>
                        <div id="overlay"></div>


                        <div data-modal-target="#center" class="left_forward">
                            <p>Center</p>
                        </div>
                            <div class="modal" id="center">
                                <div class="modal-header">
                                    <div class="title">Center</div>
                                    <button data-close-button class="close-button">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div id="center">
                                        <p>Center</p>
                                        <select name="center" id="center_option">
                                            {% for player in center %} 
                                            <option value="{{player.id}}, {{player.price}}">{{player.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        <div id="overlay"></div>


                        <div data-modal-target="#right-forward" class="left_forward">
                            <p>Höger forward</p>
                        </div>
                            <div class="modal" id="right-forward">
                                <div class="modal-header">
                                <div class="title">Höger anfallare</div>
                                <button data-close-button class="close-button">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div id="right_forward">
                                        <p>Höger forward</p>
                                        <select name="right_forward" id="right_forward_option">
                                            {% for player in right_wing %} 
                                            <option value="{{player.id}}, {{player.price}}">{{player.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        <div id="overlay"></div>
                    </div>

                    <div id="defense">
                    <div data-modal-target="#left-defense" class="left_forward">
                        <p>Vänster back</p>
                    </div>
                        <div class="modal" id="left-defense">
                            <div class="modal-header">
                            <div class="title">Vänster back</div>
                            <button data-close-button class="close-button">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div id="left_defense">
                                    <p>Vänster back</p>
                                    <select name="left_defense" id="left_defense_option">
                                        {% for player in defenseman %} 
                                        <option value="{{player.id}}, {{player.price}}">{{player.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    <div id="overlay"></div>

                    <div data-modal-target="#right-defense" class="left_forward">
                        <p>Höger back</p>
                    </div>
                        <div class="modal" id="right-defense">
                            <div class="modal-header">
                            <div class="title">Höger back</div>
                            <button data-close-button class="close-button">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div id="right_defense">
                                    <p>Höger back</p>
                                    <select name="right_defense" id="right_defense_option">
                                        {% for player in defenseman %} 
                                        <option value="{{player.id}}, {{player.price}}">{{player.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    <div id="overlay"></div>
                </div>


                <div data-modal-target="#goalie" class="left_forward">
                    <p>Målvakt</p>
                </div>
                    <div class="modal" id="goalie">
                        <div class="modal-header">
                        <div class="title">Målvakt</div>
                        <button data-close-button class="close-button">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div id="right_defense">
                                <p>Målvakt</p>
                                <select name="goalie" id="goalie_option">
                                    {% for player in goalie %} 
                                    <option value="{{player.id}}, {{player.price}}">{{player.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                <div id="overlay"></div>
            </div>

            

            </section>          
            <div class="lock_div">
                <div class="team_name">
                    <input type="text" placeholder="Ange ditt lags namn här..." name="team_name" required>
                </div>
                
                <input type = "submit" class = "lock" name = "Lås match">
            </div>

    </form>

        

    </main>
    
    <footer>
        <p>Copyright© by FHL</p>
    </footer>
</body>
<script src="{{url_for('static', filename = 'pop-up-script.js')}}"></script> 
<script src="{{url_for('static', filename = 'script.js')}}"></script> 
</html>