<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>FHL match</title>
    <link rel="icon" href="/static/FHL.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
</head>
<body>
    <nav>
        <div class="left_nav">
            <div id="log">
                <a href="/">
                    <img src="{{url_for('static', filename = 'FHL.png')}}" alt="Logga" href="index.html">
                </a>
            </div>
            <div id="menu">
                <div id="mobile_menu">
                    <button class="dropbtn mobile" onclick="dropFunction_mobile()">
                        <div></div>
                        <div></div>
                        <div></div>
                    </button>

                    <div class="dropdown_mobile" id="mobile_content">
                        <div class="dropdown">
                            <button class="dropbtn" onclick="dropFunction_players()">Hockeyspelare</button>
                        
                            <div class="dropdown_content" id="hockey_players">
                                <a href="/top-spelare">Statistik över spelare</a>
                                <a href="/köp-spelare">Köpa spelare</a>
                                <a href="/mina-spelare">Mina spelare</a>
                            </div>
                        </div>
                        
                        <div class="dropdown">
                            <button id="light_blue" class="dropbtn" onclick="dropFunction_matches()">Matcher</button>
                        
                            <div class="dropdown_content" id="matches">
                                <a href="/match">Skapa lag</a>
                                <a href="/spela-match">Spela Match</a>
                                <a href="/match-historik">Min Matchhistorik</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn" onclick="dropFunction_posts()">Inlägg</button>
                        
                            <div class="dropdown_content" id="posts">
                                <a href="/forum">Forum</a>
                                <a href="/inlägg">Skapa Inlägg</a>
                                <a href="/forum/mina/inlägg">Mina Inlägg</a>
                            </div>
                        </div>
                        <div id="help">
                            <button class="help">Hjälp 
                                <a href="/guide"></a>
                                <div id="questionmark">
                                    <p> ?</p>
                                </div>
                            </button> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <div id="nav_right">
            <div class="points">
               <p>{{points}} P</p>  <!--Från databasen skrivs användarens poäng ut-->
            </div>
            <div class="log_out">

                <a href="/logout">Logga ut</a>
            </div>
        </div>
    </nav>

    <main id ="play_game_content">

        <h2>Så här funkar det!</h2>
        <p>
            Välj ett av dina lag som ska utmana en annan användares lag. Laget som har högst score vinner matchen (du kan inte välja lag som är skapade samma dag)!
            Tänk på att välja ett av dina starkare lag, du kan hitta vilken score ditt lag har genom att bläddra ner på sidan.
            Du kan inte se vad motståndarens lag har för score... Lycka till och må bäste lag vinna!
        </p>
        <div class="help_div">
            <h2>Spela match</h2>
            <div id="questionmark">
                <a href="/guide">?</a>
            </div>
        </div>
        <form id="challenge_players" method="post">
            <h3>Välj ditt lag:</h3>
            <select name="my_team" id="left_forward_option" >
                {%for team in my_teams%} 
                <option value="{{team[1]}}, {{team[9]}}">{{team[0]}}</option>                                
                {%endfor%}                                            
            </select>
            
            <h3>Välj vem du vill möta:</h3>
            <select name="opponent_team" id="left_forward_option" >
                {% for other_teams in teams%} 
                <option value="{{other_teams[1]}}, {{other_teams[8]}}, {{other_teams[9]}}">{{other_teams[0]}}</option>                                
                {%endfor%}                                            
            </select>

            <input type = "submit" class = "lock" name = "Spela">
        </form>

        <h2>Skapade lag</h2>

        <h3>Mina lag</h3>
        {%for team in my_teams%}
            <ul>
                <li>Namn: {{team[0]}}. Score= {{team[1]}}</li>
            </ul>
        {%endfor%} 

        <h3>Andras lag</h3>
        {%for user in teams%}
            <ul>
                <li>Namn: {{user[0]}}</li>
            </ul>
        {%endfor%} 

    </main>
    
    <footer>
        <div id="log">
            <a href="/">
                <img src="{{url_for('static', filename = 'FHL.png')}}" alt="Logga" >
            </a>
        </div>
        <p>Copyright© by FHL</p>
    </footer>
</body>
<script src="{{url_for('static', filename = 'script.js')}}"></script> 
</html>