<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>FHL registrera användare</title>
    <link rel="icon" href="/static/FHL.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
</head>
<body>
    <nav>
        <div class="left_nav">
            <div id="log">
                <a href="/">
                    <img src="{{url_for('static', filename = 'FHL.png')}}" alt="Logga" href="index.html">
                </a>
            </div>
        </div>
    </nav>
    <div id="registration_body">
        <main class="login_register_form">

            <h2>Skapa Konto</h2>
    
            <form id="form" action="/registration" method="post">
                <div class="login_div">
                    <label for="fname">Förnamn:</label>
                    <input type="text" id="fname" name="fname" placeholder="Förnamn" required>
                </div>
                
                <div class="login_div">
                    <label for="lname">Efternamn:</label>
                    <input type="text" id="lname" name="lname" placeholder="Efternamn" required>
                </div>
                
                <div class="login_div">
                    <label for="mail">Epost:</label>
                <input type="email" id="mail" name="mail" placeholder="Epost" required>
                </div>
                
                <div class="login_div">
                    <label for="username">Användarnamn:</label>
                    <input type="text" id="username" name="username"  placeholder="Användarnamn" required>
                </div>
               
                <div class="login_div">
                    <label for="password">Lösenord:</label>
                    <input type="password" id="password" name="password" placeholder="Lösenord" required>
                </div>
                <div class="error">
                    <p>{{existing}}</p>
                </div>
                <input type="submit" value="Skapa Konto" class="submit_button">
            </form>

        </main>
    </div>
    
    
    <footer>
        <div id="log">
            <a href="/">
                <img src="{{url_for('static', filename = 'FHL.png')}}" alt="Logga" >
            </a>
        </div>
        <p>Copyright© by FHL</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="{{url_for('static', filename = 'script.js')}}"></script>
</body>

</html>