<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>FHL</title>
    <link rel="icon" href="/static/FHL.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
</head>
<body>
    <nav>
        <div class="left_nav">
            <div id="log">
                    <img src="{{url_for('static', filename = 'FHL.png')}}" alt="Logga" >
                </a>
            </div>
        </div>
       
        <div id="nav_right">
            <div class="registration">
                <a href="/registration">Registrera konto</a>
            </div>
            <div class="log_out">
                <a href="/login">Logga in</a>
            </div>
        </div>
    </nav>
    <div id="index_body">
        <div class="top_row">
            <div>
                <h3>Välkommen till Fantasy Hockey League!</h3>
                <p>På FHL:s webbsida kan du designa ditt egna hockeylag baserat på hockeyspelare från NHL. 
                    Beroende på hur väl ditt laget är designat och beroende på hur bra det går för spelarna i dagens NHL matcher så får du poäng ut. 
                    Poängen kan du sedan använda för att köpa nya och bättre hockeyspelare för att göra ditt lag ännu starkare. 
                    Det finns även möjlighet att spela mot andra lag för att öka chansen att få ännu mer poäng samt möta sig mot andra designade lag. </p>
                <h5>Lycka till!</h5>
            </div>
            <div id="highscore_table">
                <h5>Fantasy Hockey League</h5>
                <h3>Highscore</h3>
                <table>
                    <tr>
                        <th> </th>
                        <th>Användare</th>
                        <th>Antal lagda mather</th> <!--behöver läggas till--> 
                        <th>poäng</th>
                    </tr>
                    {% for user in highscore %}
                    <tr>
                        <td>
                            {{loop.index0 + 1}}.
                        </td>
                        <td> 
                           {{user[0]}}
                        </td>
                        <td></td>
                        <td>{{user[1]}} </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="bottom_row">
            <div id="match_table">
                <h3>Dagens NHL matcher:</h3>
                <table>
                    <tr>
                        <th>Hemmalag</th>
                        <th></th>
                        <th>Bortalag</th>
                    </tr>
                    {% for game in game_schedual%}
                    <tr>
                        <td>
                            <div class="bold">{{game[4]}}</div>
                            
                            <img class="team_loggo" alt="team home loggo" src="{{game[5]}}">
                            
                        </td>
                        <td>
                            <div>{{game[2]}}</div>
                            <div>{{game[3]}}</div>
                        </td>
                        <td>
                            <div class="bold">{{game[0]}}</div> 
                            
                            <img class="team_loggo" alt="team home loggo" src="{{game[1]}}">
                            
                        </td>
                    </tr>
                    {% endfor %}
                </table>
    
            </div>
            <div id="hockey_score_table">
                <h5>National Hockey League</h5>
                <h3>Lagresultat</h3>
                <table>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>GP</th>
                        <th>W</th>
                        <th>L</th>
                        <th>OT</th>
                        <th>Poäng</th>
                    </tr>
                    
                    {%for team in teams_ranking %}
                    <tr>
                        <td>{{loop.index0 + 1}}.</td>
                        <td class="team_loggo">
                            <img alt="team loggo" src="{{team[1]}}">
                        </td>
                        <td class="bold">{{team[0]}}</td>
                        <td>{{team[2]}}</td>
                        <td>{{team[3]}}</td>
                        <td>{{team[4]}}</td>
                        <td>{{team[5]}}</td>
                        <td class="bold">{{team[6]}}</td> 
                    </tr>
                    {% endfor %}
                </table>
    
            </div>
        </div>
    </div>
    <footer>
        <div id="log">
            <a href="/">
                <img src="{{url_for('static', filename = 'FHL.png')}}" alt="Logga" >
            </a>
        </div>
        <p>Copyright© by FHL</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="{{url_for('static', filename = 'script.js')}}"></script>

    
</body>

</html>